body {
  font-family: 'San Francisco', 'Roboto', 'Arial';
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.textBar {
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  background: #00a1db;
  color: #f5f5f5;
}

.alertBar, .alertBar a {
  font-size: 6vw;
  font-weight: bold;
  text-align: center;
  background: #B74C4C;
  color: #f5f5f5;
}

#weatherInfo {
  text-align: left;
}

#leftData {
  width: 98%;
  float: left;
  clear: left;
}

.header {
  font-size: 6vw;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #808080;
}

#data {
  font-size: 4vw;
  padding: 5px;
}

#forecast {
  border-top: 2px solid #00a1db;
  clear: left;
  padding: 5px;
}

#day {
  width: 30%;
  float: left;
}

#station {
padding:auto;
}

#weatherIcon {
  text-align: center;
}

#condition {
  border-top: 2px solid #00a1db;
  text-align: center;
  width: 80%;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 6vw;
}

#temp {
  font-size: 9vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#dataDump {
  float: left;
  clear: left;
}

hr {
  background: #00a1db;
  width: 100%;
  height: 1px;
}

.topModal, .bottomModal {
position: fixed;
font-family: 'San Francisco', 'Roboto', 'Arial';
font-size: 3vw;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0,161,219,0.4);
z-index: 99999;
opacity:0;
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
pointer-events: none;
}

.topModal:target, .bottomModal:target {
opacity:1;
pointer-events: auto;
}

.topModal > div {
width: 65%;
position: relative;
margin: 10% auto;
padding: 5px 20px 13px 20px;
border-radius: 10px;
background: #fff;
background: -moz-linear-gradient(#fff, #999);
background: -webkit-linear-gradient(#fff, #999);
background: -o-linear-gradient(#fff, #999);
}

.bottomModal > div {
width: 65%;
position: relative;
margin:  75% auto;
padding: 5px 20px 13px 20px;
border-radius: 10px;
background: #fff;
background: -moz-linear-gradient(#fff, #999);
background: -webkit-linear-gradient(#fff, #999);
background: -o-linear-gradient(#fff, #999);
}

.close {
background: #606061;
color: #FFFFFF;
line-height: 25px;
position: absolute;
right: -12px;
text-align: center;
top: -10px;
width: 24px;
text-decoration: none;
font-weight: bold;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 1px 1px 3px #000;
-webkit-box-shadow: 1px 1px 3px #000;
box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

 .flat-table {
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
  }

  .flat-table th,
  .flat-table td {
    box-shadow: inset 0 0px rgba(0, 0, 0, 0.25), inset 0 0px rgba(0, 0, 0, 0.25);
    padding: 4px;
  }

  .flat-table th {
    -webkit-font-smoothing: antialiased;
    color: #f5f5f5;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #00a1db;
  }

  .flat-table td {
    color: grey;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    text-align: center;
  }

  .flat-table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
  }

  .img-table {
    width: 100%;
    height: 100%;
  }

  .img-table tr {
    text-align: center;
  }
  .h40 {
    width: 39.99%;
    font-weight: bold;
    font-size: 3.2vmax;
  }
  .h20 {
    width: 19.99%;
    font-weight: bold;
    font-size: 3.4vmax;
  }
  .r40 {
    width: 39.99%;
    font-size: 3.6vmax;
  }
  .r20 {
    width: 19.99%;
    font-size: 3.6vmax;
  }


.r33 {
  width: 33%;
  vertical-align: top;
  font-size: 3vw;
  padding: 3px;
  text-align: center;
}

.r50 {
  width: 48%;
}

.r100{
  width: 100%;
  vertical-align: top;
  font-size: 3vw;
  padding: 3px;
  text-align: center;
}

  .rowLong {
    font-size: 3.2vmax;
  }
  .datetime {
    font-size: 3.4vmax;
  }


  .battImg {
    width:30px; height:15px;
  }
  .alarmImg {
    vertical-align: top;
    width:60px; height:60px;
  }


  .r1                    { width: 4.66666666667%; }
  .r2                 { width: 13.3333333333%; }
  .r3                { width: 22%;            }
  .r4                   { width: 30.6666666667%; }
  .r5                  { width: 39.3333333333%; }
  .r6                    { width: 48%;            }
  .r7                  { width: 56.6666666667%; }
  .r8                { width: 65.3333333333%; }
  .r9              { width: 74.0%;          }
  .r10                 { width: 82.6666666667%; }
  .r11               { width: 91.3333333333%; }
  .r12               { width: 100%; margin-left: 0; }
